<div class="card" style="width: 18rem;">
  
    <img class="card-img-top" src={{card.imageUrl}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{card.name}}</h5>
      <h5 class="card-title">[{{card.setName}}]</h5>

      <p class="card-text"></p>
      <div class="btn-action">
        <a href="#aggiungi" class="btn btn-primary" (click)="addCard()">ADD</a>
        <a href="#aggiungi" class="btn btn-warning" (click)="addCardSearch()">ADD</a>
      </div>
      
    </div>
  </div>