<div class="row">
    <div class="col-12">
        <h1 class="session">SESSIONI SALVATE</h1>
        <div class="row">
            <app-session class="col-3" *ngFor="let session of listSession"  [session]="session" (load)="load($event)" (deleteSession)="delete($event)" id="{{session.id}}"></app-session>
        </div>
        <hr>
        
        <h1 class="session">NOME SESSIONE</h1>
        <div class="input-group mt-3">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="nome_sessione" type="text" class="form-control" name="nome_sessione" [(ngModel)]="sessione">
            <!-- <input class="btn btn-primary" type="button" value="LOAD(*)"> -->
        </div>
    </div>
</div>
<hr class="mt-4">

<div class="mt-3">
    <div class="row">
        <div class="col-sm-6 col-6">    
            <h1 class="posseggo">POSSEGGO</h1>
            <div class="riga1 row">
                <app-card-view class="col-4" [dim]="dim" *ngFor="let c of cardsGOT" [card-data]="c" (removeCard)="removeCard($event)" (addCardTradeIn)="addCardTradeIn($event)" (modPrezzo) = "modificaPrezzo($event)" (EventSetFoil)="setFoil($event)" (setPrezzoConsigliato)="setPrezzoConsigliato($event)"></app-card-view>
            </div>
        </div>
        <div class="col-sm-6 col-6">
            <h1 class="cerco">CERCO</h1>
            <div class="riga1 row">
                <app-card-view2 class="col-4" *ngFor="let c of cardsSEARCH" [card-data]="c" (addCardTradeOut)="addCardTradeOut($event)" (removeCard)="removeCard2($event)" (setPrezzoConsigliatoSearch)="setPrezzoConsigliatoSearch($event)"></app-card-view2>
            </div>
        </div>
    </div>
    <hr>

    <h1 class="actions">ACTIONS</h1>
    
    <div class="btnactions row">

            <div class="col-4 mt-3">
                <a href="#" class="btn btn-actions left-btn-action" (click)="creaPDF()">CREA PDF</a>
            </div>
            <div class="col-4 mt-3">
                <input type="button" class="btn btn-actions left-btn-action" (click)="List()" value="LIST POSSEGGO">
            </div>
            <div class="col-4 mt-3">
                <input type="button" class="btn btn-actions left-btn-action" (click)="List2()" value="LIST CERCO">
            </div>
            <div class="col-4 mt-3">
                <input type="button" class="btn btn-actions left-btn-action" (click)="avviaTrade()" value="AVVIA TRATTATIVA">
            </div>
            <div class="col-8 mt-3">
                <input type="button" class="btn btn-actions left-btn-action" (click)="resetTrade()" value="RESET TRATTATIVA">
            </div>

        <!-- <input type="button" class="btn btn-reset left-btn-action" (click)="dimensioneImg50()" value="DIMENSIONE IMG 50%(*)">
        <input type="button" class="btn btn-reset" (click)="dimensioneImg50()" value="VERSIONE MINIFICATA(*)"> -->

    </div>

    <div class="save-data-actions">
        <input type="button" class="btn btn-save-actions mt-3" (click)="saveSession()" value="SALVA SESSIONE">
    </div>
    <hr>
    <div class="trade row" *ngIf="showTrade">
        <div class="col-sm-6 col-6">
            <h1 class="trade">TRADEIN</h1>
            <div class="riga1 row">
                <app-trade-in class="col-4" *ngFor="let c of cardsTradeIn" [card]="c" ></app-trade-in>
            </div>
        </div>
        <!-- <div class="col-sm-1 separatore">
            <div class="column-reset">
                
            </div>
        </div> -->
        <div class="col-sm-6 col-6">
            <h1 class="trade">TRADEOUT</h1>
            <div class="riga1 row">
                <app-trade-in class="col-4" *ngFor="let c of cardsTradeOut" [card]="c" ></app-trade-in>
            </div>
        </div>
        <hr class="mt-3">
    </div>

    <div *ngIf="showList" class="row">
        <div class="col-sm-6 col-6">
            <h1 class="actions">LISTA POSSEGGO</h1>
            <textarea name="" id="" cols="60" rows="10">{{text}}</textarea>
        </div>
        <div class="col-sm-6 col-6">
            <h1 class="actions">LISTA CERCO</h1>
            <textarea name="" id="" cols="60" rows="10">{{text2}}</textarea>
        </div>
        <hr class="mt-3">
    </div>

    <h1 class="aggiungi" name="aggiungi">AGGIUNGI</h1>
    <div class="search">
        <input type="text" class="form-control" placeholder="Search" id="search">
        <button (click)="search()" type="button" class="btn btn-primary">SEARCH</button>
        <button (click)="clear()" type="button" class="btn btn-success">CLEAR</button>
    </div>

    <div class="riga row">
        <app-card *ngFor="let card of cards" [card-data]="card" (addCardSearchEvent)="onAddCardEventSearch($event)" (onAddCardEvent)="onAddCardEvent($event)" class="Schedacard col-2"></app-card>
    </div>
    <button (click)="addMoreCard()" id="btnAddMoreCards" type="button" class="btn btn-danger">MORE CARD</button>
</div>


<!-- <button (click)="testScryFall()">ScryFallTest</button> -->
    
