.prezzo
{
    font-weight: bold;
    font-size: x-large;
}
.btn-view
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon-width
{
    font-size: medium;
}

.card-body
{
    height: 300px;
}
.side-1
{
    height: 180px;
}