<div class="card">
  <!-- style="width: 18rem;" -->
  <img class="card-img-top card-view" src={{card.imageUrl}} alt="Card image cap">
    <div class="card-body">
      <div class="side-1">
      <h5 class="card-title">{{card.name}}</h5>
      <h5 class="card-title">[{{card.setName}}]</h5>
      <p class="card-text prezzo">({{card.prezzo_consigliato | currency :'EUR'}})</p>
    </div>
        <div class="btn-view mt-1">
          <!-- <button type="button" class="btn btn-success">MODIFCA PREZZO</button> -->
          <button type="button" (click)="removeCardFunc()" class="btn btn-info" alt="REMOVE"><i class="bi bi-trash icon-width"></i></button>
          <button type="button" class="btn btn-warning" (click)="prezzoConsigliatoSearch()" alt="PREZZO CONSIGLIATO"><i class="bi bi-tags-fill icon-width"></i></button>
          <button type="button" (click)="addCardTradeOut()" class="btn btn-danger" alt="TRADE OUT"><i class="bi bi-badge-tm icon-width"></i></button>
      </div>
      <div class="btn-view mt-2">
        
      </div>
      
    </div>
  </div>