<div class="card card-view-top" (mouseover)="vediSquare()"> 
    <!-- style="width: 18rem;" -->
      <img class="card-img-top card-view" src="{{creature.imageUrl}}" alt="Card image cap" >
      <div class="card-body">
        <div class="side-1">
            <div class="card-title">{{creature.name}}</div>
            <div class="card-title">[{{creature.setName}}]</div>
  
            <div class="body-card">

        </div>
            <div class="btn-view mt-1">

            </div>
        <div class="btn-view">
 
        </div>
        <div class="btn-view mt-2">
          
        </div>
        <div class="btn-view mt-2">
          
          <button type="button" class="btn btn-dark" (click)="vedi()">VEDI</button>
          
        </div>
      </div>
    </div>