/* You can add global styles to this file, and also import other style files */
.main
{
    width: 98%;
    margin: auto;
    vertical-align: top;
}
.cerco
{
    float: left;
    width: 100%;   
}
.nav-link
{
    font-size: xx-large;
    background-color: black;
    text-shadow: 4px 4px 6px white;
    border-radius: 8px;
    margin: 25px;
}